html, body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-weight: 100;
}

header {
  background: #121212;
  position: fixed;
  width: 100%;
  padding: 5px 0;
  text-align: center;
} 

header .trm-logo {
  width: 50px;
  vertical-align: middle;
  margin-right: 5px;
}

header .iswim-logo {
  width: 45px;
  vertical-align: middle;
  margin-right: 10px;
}

header p {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 600px) {
  header .trm-logo {
    width: 32px;
  }

  header .iswim-logo {
    width: 30px;
  }

  header p {
    letter-spacing: none;
    font-size: 14px;
    margin-top: px;
  }
}

.footer {
  font-size: 9px;
  text-align: center;
  padding: 50px;
  color: #999;
}

.main {
  padding: 70px 20px 0 20px;
  min-height: 80vh;
  max-width: 1050px;
  margin: 0 auto;
}

.picker select {
  border-color: #ececec;
  padding: 6px 6px;
  font-size: 16px;
  margin-left: 5px;

}

.g-chart {
  margin: 25px auto;
  position: relative;
}

.g-chart svg {
  overflow: visible;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.g-chart path {
  fill: none;
}

.g-chart text {
  font-size: 12px;
}

.g-chart path.domain {
  display: none;
}

.x.axis text {
  font-size: 9px;
}

.x.axis line {
  stroke: #d3d3d3;
}


.x.axis .tick {
  display: none;
}

.x.axis .tick.g-show-always {
  display: block;
}

@media screen and (min-width: 1050px) {
  .x.axis .tick {
    display: block;
  }
}

.x.axis .g-highlight {  
  display: block;
  font-weight: 700;
}


.y.axis .tick:nth-child(2) {
  display: none;
}

.y.axis.left .tick text {
  fill: teal;
}

.y.axis.left .tick line {
  stroke: teal !important;
  opacity: 0.6;
}

.y.axis.right line {
  stroke: #000 !important;
  opacity: 0.3;
}

.y.axis.right text {
  fill: #000;
  opacity: 0.8;
}

.g-slc-fill {
  fill: teal;
}

.g-cum-stroke {
  stroke: #000;
}

.g-line.g-cum-stroke {
  stroke-width: 1.5;
}

.g-doctor-label path {
  stroke: #d3d3d3;
  stroke-width: 0.5;
  fill: rgba(0,0,0,0.02);
}

.g-labels {
  display: none;
}

.g-labels.g-active, .g-labels.g-active-always {
  display: block;
}

.g-label-cont {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.g-abs-label {
  position: absolute;
  font-size: 11px;
  line-height: 1.1;
  font-weight: 100;
  text-align: center;
}

.g-label-last.g-cumulative-sl {
  text-align: left;
}

.g-abs-label .g-inner:first-child {
  font-weight: 700;
}

.g-abs-label .g-text-bg {
  background: #fff;
  padding: 0 2px;
  display: inline;
  white-space: nowrap;
}

.g-abs-label .g-pointer {
  width: 1px;
  height: 8px;
  background: #000;
  position: absolute;
  bottom: 0;
}

.g-abs-label .g-dot {
  width: 5px;
  height: 5px;
  background: #000;
  position: absolute;
  border-radius: 100%;
  bottom: -2.5px;
  border: 1px solid #fff;
}

.g-slc-total {
  color: teal;
}

